<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>直播系统后台管理</title>
</head>
<body>
  <!--div id="version" style="z-index:1000;color:red; position:absolute;">Version:2.0 beta4</div-->
  <div id="root"></div>
</body>
</html>
