@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

$header-height: 50px;
$nav-width: 200px;
$nav-collapsed-width: 60px;

.overcoat {
  min-height: 100vh;
  display: flex;
  background-color: #f5f5f5;

  .upload-list-inline .ant-upload-list-item {
    display: inline-block;
    width: 200px;
    margin-right: 8px;
  }

  .logo {
    height: $header-height;
    line-height: $header-height;
    color: #fff;
    transition: all 0.3s ease;
    font-size: 16px;

    .icon {
      font-size: 18px;
    }
  }

  .collapse-btn {
    width: $nav-collapsed-width;
    height: 48px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  &-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: $nav-width;
    height: 100vh;
    background: #404040;
    overflow: visible;
    transition: all 0.3s ease;
    z-index: $zindex-affix;
    display: flex;
    flex-direction: column;

    .ant-menu-submenu {
      transition: all 0.5s ease;
      .anticon {
        transition: font-size 0.3s;
      }
    }
  }

  &.collapsed .overcoat-sidebar {
    width: $nav-collapsed-width;

    .ant-menu-submenu {
      text-align: center;
      .anticon {
        font-size: 20px;
      }

      .nav-text {
        display: none;
      }

      .ant-menu-submenu-title {
        padding-left: 19px;

        &::after {
          font-size: 0;
        }
      }
    }

    .ant-menu-submenu:hover {
      background: #2db7f5;
      transition: all 0s ease;

      .anticon {
        display: none;
      }

      .userinfo .avatar {
        display: none;
      }

      .nav-text {
        display: inline-block;
        background: #2db7f5;
        color: #fff;
      }

      > .ant-menu-submenu-title {
        padding: 0;
        text-align: center;
        @include text-truncate();
      }
    }
  }

  .user-corner {
    .ant-menu-dark {
      background-color: #656565;
    }

    .avatar {
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      text-align: center;
      border-radius: 50%;
      background-color: #2db7f5;
      color: #fff;
      margin-right: 10px;
    }
  }

  &.collapsed .user-corner {
    // reset for menu display when collpased
    .ant-menu-submenu-vertical {
      > .ant-menu {
        // hardcode
        top: calc(-200% - 2px);
      }

      > .ant-menu-submenu-title {
        padding-left: 16px;
      }
    }
  }
  .overcoat-main {
    flex: 1;
    height: 100vh;
    padding: 15px;
    margin-left: $nav-width;
    overflow-x: hidden;
    overflow-y: auto;

    .content-wrapper {
      margin-top: $gap;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px 25px;
      min-height: calc(100vh - 99px);
    }
  }

  &.collapsed .overcoat-main {
    margin-left: $nav-collapsed-width;
  }
}
